/* navbar */
#headerName
{
  margin:0;
  font-size: 24pt;
  color: white;
}

/* main body container */
div.container{
    background-color: white;
    min-width: 300px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* cards */
.card-img-top {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

/* horizontal rule */
hr {
    border: none;
    height: 2px;
    color: #777777;
    background-color: #777777; 
    width: 100%;
}

/* general body styles */
body{
    background-image: url(../images/Background.png);
    height: 100%;
    background-size: cover;
    color: #777777
}

/* about me image */
#myImage{
  height: 150px;
  width: 150px;
  margin: 20px;
  transform: rotate(90deg);
}

/* custom class to center text */
.custom-center {
  margin: auto;
}

/* message input */
#userMessage{
  height: 20vh;
}

.pMargin{
  margin: 20px;
}

  /* 
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #d7e2e9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #e5dbdb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #e5dbdb;
      background-color: #425766;
    }
  } */